@model IEnumerable<EKStore.Models.ShipmentProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    <a asp-action="Create">
        <h1>Create New</h1>
    </a>
</p>
